.contact{

    .css-dev-only-do-not-override-sk7ap8{
    // -------- div input --------------
        .ant-col-16{ 
            max-width: 500px;
        }
        .ant-row{
            justify-content: center;
        }
        .ant-col-8{
            max-width: 180px;
        }
        .ant-col-16{
            max-width: 35%;
        }
        .ant-col-offset-8{
            align-items: center;    
        }    
}
}

