//-------------------- inter section -------------------------

.imgTimer{
    background-image: url(../../assets/faire-part-anonyme.png);
}

.imgDomaine{
    background-image: url(../../assets/domaine.jpg);
}
.imgInfo{
    background-image: url(../../assets/bague.webp);
}

//-------------------- section mairie -------------------------

.bloc{
    border: 3px solid #0679CA;
    border-radius: 15px; 
    margin: 50px;
    height: 400px;
    @include flexCenter;
}