//-------------------- inter section -------------------------

.imgTimer{
    background-image: url(../../assets/faire-part-anonyme.png);
}

.imgDomaine{
    background-image: url(../../assets/domaine.jpg);
}
.imgInfo{
    background-image: url(../../assets/bague.webp);
}

//-------------------- section mairie -------------------------

.bloc{
    padding: 28px;
}