// ---------------- button formulaire --------------
.ant-btn{    
    font-family: $titre;
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    background-color: $colorPolice;
}

.btn{
    @include btn;
    color: #FFFFFF;
    background-color: #010731;
    font-size: 17px;
    margin-top: 20px;
}

.btnBanner{
    @include btn;
    color: #010731;
    background-color: #FFFFFF;
    font-size: 17px;
    @media (max-width: 650px) {
        font-size: 14px;
    }
    
}


