//------------- section compteur -----------------
.banner{
    height: 500px;
    @media (max-width: 550px){
        height: 300px;
    }

    &_Img{    
        position: absolute; 
        width: 100%;   
        height: 500px;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;    
        @media (max-width: 1024px){
            background-attachment: scroll;
        }
        @media (max-width: 550px){
            height: 300px;
        }
    }

    &_black{
        position: absolute;
        width: 100%;
        height: 500px;
        mix-blend-mode: darken;
        background: black;
        opacity: 0.70;
        @media (max-width: 550px){
            height: 300px;
        }
    }

    &_timer{
        position: absolute;
        @include flexCenter;
        height: 500px;
        width: 100%;
        @include flexColonne;
        @media (max-width: 550px){
            height: 300px;
        }
    
        h1{
            text-align: center;
            color: $colorFond;
            font-size: 45px;
            font-family: $texte;
            @media (max-width: 550px) {
                font-size: 30px;
            }
        }

        .button{
            border-radius: 25px;
            width: 150px;
            height: 60px;
            background-color: $colorFond;
            text-decoration: none;
            border: 2px solid $colorTheme;
            overflow: hidden;

            p{
                @include flexCenter;
                text-align: center;
                color: $colorPolice;
                font-family: "Playfair Display";
                font-size: 18px;
                font-weight: bold;
                height: 100%;
                margin: 0;
                &:hover{
                    background-color: $colorThemeHover;
                }
            }
        }
    }
}


