header{
    position: relative;
    @include flexBetween;
    padding: 0 5% 0 5%;
    color: $colorPolice;
    height: 150px;
    @media (max-width: 1080px) {
        height: 180px;
    }
    @media (max-width: 550px) {
        height: 90px;
    }
    
    p{
        position: relative;
        z-index: 2;
        margin: 0;
        width: 45%;
        font-family: $texte;
        font-size: 30px;
        @media (max-width: 1080px) {
            @include flexCenter;
            width: 250px;
            height: 155px;            
        }
        @media (max-width: 550px) {
            font-size: 25px;            
            width: 210px;
        }
    }
    
    .blocIntial{ 
        position: absolute;
        left: 50%;
        top: 1%;
        z-index: 1;
        @media (max-width: 1080px) {
            top: 25%;
        }
        @media (max-width: 550px) {
            top: 20%;
        }

        &_position{
            background-image: url(../../assets/initial-mariage.png);
            background-size: 70%;
            background-position: center;
            background-repeat: no-repeat;
            width: 400px;
            height: 175px;
            border-radius: 0 0 45% 45%;
            margin: 50px 0 0 -50%;
            background-color: $colorFond;
            @media (max-width: 1080px) {
                width: 250px;
                height: 155px;
            }
            @media (max-width: 550px) {
                width: 130px;
                height: 50px;
            }
        }
    }

    .menu{
        position: relative;
        z-index: 2;
        @include flexCenter;

        &_buttonToggle{
            display: none;
            @media (max-width: 1080px) {
                display: block;
            }

            .menu-active{
                position: absolute;
                right: 0;
                display: flex;
                flex-direction: column;
                text-align: end;
                border: 3px solid $colorTheme;
                background-color: $colorFond;
                border-radius: 10px;
                overflow: hidden;

                span{
                    border-bottom: 3px solid $colorTheme;
                    width: 100%;
                }

                a{
                    text-decoration: none;
                    color: $colorPolice;
                    font-family: $texte;
                    font-size: 30px;
                    padding: 0 10px;
                    &:hover{
                        background-color: $colorThemeHover;
                    }
                }
            }
            .menu-inactive{
                display: none;
            }
        }

        &_link{
           
            a{
                text-decoration: none;
                color: $colorPolice;
                font-family: $texte;
                font-size: 30px;
                padding: 0 10px;
                &:hover{
                    border-bottom: 3px solid $colorTheme;
                }
            }
            @media (max-width: 1080px) {
                display: none;
            }
        }
    }
}